body {
  background-color: lightblue;
}

.column {
  float: left;
  width: 150px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.generate {
  width: 400px;
  text-align: center;
}
